/* index css  */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", serif;
}

header {
    padding: 10px;
}
header img{
    max-height: 50px;
    min-height: 40px;
}

header a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    font-weight: 500;
}

header a:hover,
header .active {
    color: #327FC7;
    border-bottom: 2px solid #327FC7;
}
#mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 80%;
    background-color: white;
    padding:30px 20px;
    z-index: 1000;
    display: none ;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#mobileMenu a{
    padding: 10px 0px;
}

#mobileMenu.show {
    display: flex; /* Show the menu when 'show' class is added */
}

.open, .close {
    cursor: pointer;
}
.main-btn {
    background-color: #040404;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.main-btn:hover {
    border: 1px solid #040404;
    color: #040404;
    background-color: transparent;
    transition: all 0.5s;
}
.hero {
    background-color: #f7f7f7;
}
.hero h2 {
    font-size: 3rem;
    color: #327FC7;

}

.hero p {
    font-size: 20px;
    width: 80%;
}

.hero .main-btn {
    margin-left: 50px;
}

h4 {
    font-size: 26px;
    font-weight: 700;
}

.about,
.service {
    background: #F7FAFD;
    /* height: 100vh; */
}

.service .service-link {
    background-color: #fff;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px 50px 10px 10px;
}

.service .service-link a {
    text-decoration: none;
    color: #242424;
    padding: 5px;
}

.service .service-link .active,
.service .service-link a:hover {
    color: #327FC7;
    border-bottom: 1px solid #327FC7;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.contact .contact-left {
    /* padding: 30px; */
    background-color: #1B3A5D;
    border-radius: 20px;
}

.contact .contact-left .decs p {
    color: #ffffff5d;
}

.contact .contact-left .data {
    max-width: 370px;
    padding: 20px 0px;
    /* min-width: 100%; */
}
.contact .contact-left .data i{
    font-size: 18px;
}

.contact .contact-left .icon i,  footer .icon i{
    padding: 10px;
    font-size: 20px;
    background-color: #F6AF03;
    border-radius: 50%;
}

.contact .contact-left .icon i:hover ,  footer .icon i:hover{
    background-color: #fff;
    color: #1B3A5D;
    cursor: pointer;
}

.contact form input,
textarea {
    width: 100%;
    border: none;
    padding-left: 4px;
    outline: none;
    height: 25px;
}

.contact form input::placeholder {
    font-size: 12px;
}

.contact form .lable {
    font-size: 16px;
    padding: 5px;
    font-weight: 600;

}

.contact form i {
    color: #444;
}

.contact form .input {
    border: 1px solid #444;
    padding: 5px 10px;
    border-radius: 5px;
}

.contact form .container {
    display: flex;
    position: relative;
    padding-left: 17px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.contact form .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.contact form .checkmark {
    position: absolute;
    top: 7px;
    left: 5px;
    height: 10px;
    width: 10px;
    background-color: #bbbbbb;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contact form .container:hover input~.checkmark {
    /* background-color: #ccc; */
}

/* When the radio button is checked, add a blue background */
.contact form .container input:checked~.checkmark {
    /* background-color: #2196F3; */
    background-color: #040404;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.contact form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.contact form .container input:checked~.checkmark:after {
    display: block;
}

.contact form input[type="submit"] {
    width: 150px;
    height: 50px;
    padding: 15px;
}

footer{
    /* height: 100px; */
    background-color: #1B3A5D;
}
footer p{
    font-size: 16px;
    color: #fff;
}
footer .row p , footer .row li , footer .row ul , footer .row h4 , footer .row .footer-heading {
    color: #fff;
    padding: 0px;
    list-style: none;
    margin-bottom: 10px;
}
footer .row .footer-heading{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}



/* swapper website  */


/* Importing Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
  /* background: url("images/bg.jpg") #030728 no-repeat center; */
}

.slider-wrapper {
  overflow: hidden;
  /* max-width: 1200px; */
  padding: 30px 0px 100px 0px;
}

.card-list .card-item {
  
  min-width: 330px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: black;
  user-select: none;
  padding: 10px;
  display: flex;
  min-width: 335px;
  max-width: 430px;
  /* margin: auto; */
  flex-direction: column;
  align-items: center;
}
.review .card-list img:first-child {
  background: bisque;
  padding: 10px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  top: -37px;
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
  
}
.review-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-header img{
  border-radius: 100%;
  width :50px !important;
  background-color: transparent;
  padding: 0px !important;
  position: static !important;

}
.review-header h5{
  font-size: 14px;
  font-weight: 600;
}
.review-header p{
  font-size: 12px;
}
.card-list .card-item .card-desc{
  padding: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button ,.slider-wrapper1 .swiper-slide-button{
  color: black;
  /* margin-top: -55px; */
  transition: 0.2s ease;
  position: relative;
  /* top: 70px;
  left: 46%; */
  width: 30PX;
  height: 30PX;
  border-radius: 50%;
  border: 1px solid #1d1d1d !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-wrapper .swiper-slide-button:hover , .slider-wrapper1 .swiper-slide-button:hover{
  background-color: #1d1d1d;
  color: #fff !important;
}
.slider-wrapper .swiper-slide-button::after {
  content: none;
}
.swiper-button-prev{
  top: 79px;
  left: 47%;
}
.swiper-button-next{
  top: 70px;
  left: 52%;

}

.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}


/* Service */
.service .slider-wrapper1{
  padding: 40px;
}
.service .card-item img{
  width: 100%;
  border-radius: 10px;
  height: 200px;
}
.service .card-item h5{
  padding:10px;
  width: 100%;
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}
.service .card-item p{
  padding: 0px 10px !important;
  text-align: start;
}
.service .swiper-button-next1{

  left: 51%;
}
.service .swiper-button-prev1{
  top: 30px;
  left: 46%;
}
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 10px;
    
  padding: 30px 0px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}



/* FAQ  */

.faq .point{
    width: 47%;    
    border: 1px solid #666;
    color: #666;
    margin: 10px 0px;
    /* padding: 10px; */
    border-radius: 10px;
}
.faq .point button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: 500;

    background-color: #fff;
}
.faq span:last-child{
    display: none;
}
.faq .point button:active{
 color: blue;
}
.faq .point p{
    padding: 10px 10px;
    border-top: 1px solid #666 ;
    display: none;
}
.highlight{
    color: blue;
}
@media screen and (max-width:767px) {
    
    .faq .row button{
        font-size: 14px !important;
        padding: 0px;
        font-weight: 600;
    }
    .faq .point{
        width: 100%;
        padding: 10px;
    }
    .faq .row p{
        font-size: 12px;
    }
    .faq .row {
        padding: 5px;
    }
}




/* BLOG WEBSITE CSS  */
.imgbgc{
    background-color: #103C34;
    width: 100%;
    height: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 20px;
}
.imgbgc img{
    position: relative;
    bottom: -32px;
}
.blog-hero .hero-Icon img{
    width: 50px;
}
.blog-page .card , .card-header , .card-body , .card-footer{
    background-color: #fff;
    border: none;
}
.blog-page .row{
    --bs-gutter-x: 0px;
}
.blog-page .card{
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    --bs-card-cap-padding-x: 4px;
}

.blog-page .card .card-header img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.blog-page .card-full .card-footer p{
    max-width: 400px;
}
.blog-page .card-full .card-footer h5{
    font-size: 24px !important;
}
.blog-page .card .card-footer h5{
    font-size: 20px;
}
.blog-page .card .card-footer p{
    font-size: 16px;
    color:#747070;
}
.blog-page .card-full .card-footer p{
    font-size: 18px;
}
.blog-page .card .category div{
    padding: 5px 10px;
    border-radius: 30px;
    margin: 5px;
    background-color: #1b7c6023;
    font-weight: 600;
}
.blog-page .card .category .active{
    color:  #327FC7;

}

.blog-date{
    color: #1B7C60;
    font-weight: 600;
    font-size: 14px;
}
.All-blog .blog-option{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    padding: 10px 0px;
}
.All-blog .blog-option a{
    font-size: 14px;
    color: #747070;
    text-decoration: none;
}
.All-blog .blog-option .active , .All-blog .blog-option a:hover {
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    color: #327FC7;
    border-bottom: 2px solid #327FC7;
}
.All-blog .blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.All-blog .blogs .card{
    
    flex: 1 1 calc(33.33% - 20px); /* Ensure 3 cards fit in a row (minus gap space) */
    margin: 10px;
    min-width: 270px;
    max-width: 340px;
    box-sizing: border-box;
}



/* service page css  */
.service-hero p{
    width: 100% !important;
    font-size: 18px;
}
.service-hero{
    --bs-gutter-x: 0rem;
}
.service-hero .hero-data{
    max-width: 480px;
}
.service-website h4{
    font-size: 40px;
}
.service-website p , .service-hero p{
    color: #464646 !important;
} 
.service-website-cards img{
    height: 300px;
    width: 100%;
    object-position: center center;
    object-fit: cover;
}
.service-website .row{
    --bs-gutter-x: 0.2rem !important;
}
.service-website-cards .col-12{
    padding: 10px !important;
}
.service-website-cards .col-12 .card{
    max-width: 400px;
    margin: auto;
    height: 430px;
    background-color: #F1F1F8 !important;
}
.service-website-cards .card-footer{
    background-color: transparent;
}
.service-website-cards .card-footer p{
    font-size: 12px;
}
@media screen and (max-width:990px) and (min-width:768px) {
    .service-hero h2{
        font-size: 2.2rem;
    }
    .service-hero p{
        font-size: 16px !important;
    }
    
    .service-website h4 {
        font-size: 30px;
    }
    .service-website-cards .col-12 .card {
        height: 395px;
    }    
}
@media screen and (max-width:767px){
    
    .service-hero h2{
        font-size: 27px !important;
    }
    .service-website .px-1{
    padding: 0px !important;
   }
   .service-website h4{
    font-size: 18px;
   }
   .service-website p{
    font-size: 12px;
   }
}



/* Single Blog website  */
.sblog .sblog-data p ,.sblog .sblog-data li {
    font-size: 18px;
    color: #666;
}
.sblog .sblog-data ol li::marker{
    font-weight: 700 !important;
    color: #040404;
}
.sblog .sblog-data ol li h5{
    color: #040404;
}
.sblog .recent-blogs .recent-blog{
    /* background-color: black; */
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.sblog .recent-blogs .card-header{
    background-color: #bbbbbb;
}
/* .recent-blogs {
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    margin-top: 2rem;
} */

.sblog .recent-blogs h3 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 6px;
    text-align: center;
    background-color: #dedede;
}

.sblog .recent-blogs .recent-blog-item {
    padding: 1rem 0;
    border-bottom: 1px solid var(--white-smoke-color);
    transition: all 0.3s ease;
    border-bottom: 1px solid black;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}

/* .recent-blog-item:last-child {
    border-bottom: none;
} */

.sblog .recent-blogs .recent-blog-item:hover {
    transform: translateX(5px);
}

.sblog .recent-blogs  .recent-blog-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #327FC7;
}

.sblog .recent-blogs  .recent-blog-meta {
    font-size: 0.8rem;
}
.contact-us form{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-us form label{
    padding: 20px 0px 5px 0px;
}
.contact-us form input{
    border: none;
    width: 100%;
    outline: none;
}
.contact-us form .input{
    border: 1px solid #69696942;
    padding: 8px;
    border-radius: 5px;
}
.contact-us form textarea{
    height: auto;
}
.contact-us form  .Submit{
    margin: 20px 0px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    color: #007BFF;
}
.contact-us form  .Submit:hover{
    background-color: #007BFF;
    color: #fff;
    transition: all 0.5s ;
}


/* About US Page */
.about-who{
    background-color: #ffffff;
}
.about-who p{
    font-size: 18px;
    width: 100%;
}
.about-who p b{
    color: #007BFF;
}
.about-our .mission{
    padding: 20px 0px;
}
.about-our .mission .data{
    border: 3px solid #007BFF;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
}
.about-our .mission .data h5{
    font-size: 2rem;
    color: #007BFF;
}
.about-our hr{
    height: 3px !important;
    background-color: #007BFF;
    color: #007BFF;
    opacity: 1;
}
.about-our .hand{
    position: relative;
    bottom: 20px;
}

.why-choose-us {

    margin: 0 auto;
}
.why-choose-us h4 {
    font-size: 2rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.why-choose-us .circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-us .circle {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px 20px;
    text-align: start;
}

.why-choose-us .icon {
    border-radius: 50%;
    border-top: 5px solid #0151A7 !important;
    width: 180px !important;
    height: 180px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us .icon i {
    font-size: 70px;
    color: #0151A7;
}


.why-choose-us h5 {
    font-size: 1.2rem;
    color: #007BFF;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;

}

.why-choose-us p {
    
    font-size: 0.9rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7.5em;

}

@media screen and (max-width:992px) and (min-width:768px) {

    .why-choose-us .circle {
        margin: 30px auto;
        max-width: 350px;
    }
}

@media screen and (max-width:767px) {
    .why-choose-us .circle {
        margin: 10px auto;
    }
}


/* Portfolio Page  */
.portfolio-hero h2{
    font-weight: 600;
}
.portfolio-hero p{
    width: 100%;
}
.portfolio-who .blue{
    color: #007BFF;
}
.portfolio-who h4{
    font-weight: 700;
    font-size: 30px;
}
.portfolio-who button{
    background-color: #007BFF;
    padding: 5px 15px;
    border: none;
    color: #fff;
    border-radius: 30px;
}
.portfolio-who button:hover{
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    transition: all 0.5s ;
}
.portfolio-who img{
    border-radius: 20px;
}
.portfolio-card {
    background-color:#ECF1FC;
}
.portfolio-card h4{
    font-size: 40px;
    font-weight: 600;
}
.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio-cards .card{
    width: 30%;
    margin: 10px;
}
.portfolio-cards .card .card-header{
    padding: 5px;
}
.portfolio-cards .card img{
    height: 250px;
}

/* all page responsiveness */
@media screen and (min-width:768px) and (max-width: 1024px) {
    header a{
        font-size: 14px;
        font-weight: 500;
    }
    .main-btn{
        padding: 5px 10px;
    }
    .discuss .row{
        --bs-gutter-x: 0rem;
    }
    .faq .point button {
        font-size: 14px;
    }
    .contact form .input{
        padding: 5px;
    }
    footer .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer .icon i{
       margin: 5px;
    }
    footer .row p, footer .row li, footer .row ul{
        font-size: 12px;
    }
    footer .row .footer-heading {
        font-size: 16px;
    }
    h4{
        font-size: 18px;
    }



    /* blog page  */
    .imgbgc{
        height: 65%;
        margin-top: 0px;
    }
    .card .category div{
        font-size: 14px !important;
        padding: 4px 8px;
    }
    .card-full .card-footer h5{
        font-size: 20px !important;
    }
    .card-full .card-footer p{
        font-size: 16px !important;
    }
    .card .card-footer h5{
        font-size: 16px;
    }
    .card .card-footer p{
        font-size: 12px;
    }
    .All-blog .blog-option a{
        font-size: 12px;
    }

    /* portfolio page  */
    .portfolio-cards .card{
        width: 32%;
        margin: 10px 0px;
    }
    .portfolio-cards .card img{
        height: 200px;
    }

}
@media screen and (max-width: 767px) {
    /* .mobile{
        position: fixed;
        top: 67px;
        padding: 50px;
        background-color: #fff;
        z-index: 9999;
    } */
   
    .hero-row{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 30px;
    }
    .hero-row > div{
        width: 100%;
    }
    .hero h2{
        font-size: 2rem;
    }
    .hero p{
        width: 100%;
        font-size: 14px;
    }
    .hero .main-btn{
        font-size: 14px;
        padding:5px 10px ;
        margin: auto;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 14px !important;
    }
    h5{
        font-size: 14px;
    }
    .about-row , .contact-row{
        display: flex;
        /* flex-direction: column-reverse; */
    }
    .discuss .discuss-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .about img{
        /* max-width: 400px; */
        margin: auto;
    }
    .service  .service-link{
        font-size: 6px;
        display: none !important;
    }
    .service .slider-wrapper1{
        padding: 5px;
    }
    .service .swiper-button-prev1{
        left:43%
    }
    .discuss .row{
        --bs-gutter-x: 0rem;
    }
    .service .swiper-button-next1{
        left: 57%;
    }
    
    footer .row p, footer .row li, footer .row ul{
        font-size: 11px !important;
    }
    footer .row .footer-heading {
        margin-top: 20px;
        font-size: 18px;
    }
    .contact form{
        padding: 30px 0px;
        max-width: 450px;
        width: 100%;
        margin: auto;
    }
    
    

    /* BLOG PAGE  */
    .imgbgc{
        margin-top: 0PX;
        height: 62%;

    }
    .imgbgc img{
        position: relative;
        bottom: -12px;
    }
    .blog-hero .hero-Icon img{
        width: 30px;
    }
    .card{
        padding: 10px ;
    }
    .card .category div {
        padding: 3px 6px;
        font-size: 14px;
    }
    
    /* portfolio page  */
    .portfolio-cards .card{
        max-width: 50%;
        min-width: 270px;
        margin: 10px 0px;
        padding: 0px;
    }
    .portfolio-cards .card img{
        height: 200px;
    }
}
@media screen and (max-width: 400px){
    
    .hero h2 {
        font-size: 20px;
    }
    .hero p{
        font-size: 12px !important;
    }
    .imgbgc {
        height: 37%;
    }
    .imgbgc img {
        bottom: -9px;
    }
    .recentBlog .card{

        flex-direction: column !important;
    }
    .recentBlog .card .col-6{
        width: 100%;
    }
    .contact-us form .input i{
        font-size: 12px;
    }
    .contact-us form .input{
        padding: 4px 3px;
    }
    .contact-us form input::placeholder , .contact-us form textarea::placeholder {
        font-size: 12px;
    }

    /* about page  */
    .why-choose-us .circle {
        max-width: 90%;
    }
} 