
.faq .point{
    width: 47%;    
    border: 1px solid #666;
    color: #666;
    margin: 10px 0px;
    /* padding: 10px; */
    border-radius: 10px;
}
.faq .point button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border: none;
    font-size: 20px;
    font-weight: 500;

    background-color: #fff;
}
.faq span:last-child{
    display: none;
}
.faq .point button:active{
 color: blue;
}
.faq .point p{
    padding: 10px 10px;
    border-top: 1px solid #666 ;
    display: none;
}
.highlight{
    color: blue;
}
@media screen and (max-width:767px) {
    
    .faq .row button{
        font-size: 14px !important;
        padding: 0px;
    }
    .faq .point{
        width: 100%;
        padding: 10px;
    }
    .faq .row p{
        font-size: 12px;
    }
    .faq .row {
        padding: 5px;
    }
}