*{
    padding: 0;
    margin: 0;
}
.blog-hero{
    padding: 50px 0px;
}
.blog-hero .left{
    /* color: #F05E25; */
}
.blog-hero h2{
    font-weight: 700;
    font-size: 50px ;
    font-style: italic;
}
.blog-hero .left h6{
    font-size: 40px ;
    font-style: italic;
    /* color: black;  */
    font-family: cursive !important;
}
.blog-hero .right img{
    width: 80%;
}
.blog-details h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0px;
    /* color: #F05E25; */
}
.blog-details p{
    padding-left: 30px;
    color: rgb(44, 44, 44)
    
}
@media screen and (max-width:768px){
    .blog-hero {
        padding: 20px 0px;
    }
    .blog-hero .left {
        padding-top: 15px;
    }
    .blog-hero h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 30px;
    }
    .blog-hero .left h6{
        font-size: 20px ;

    }
    .blog-hero .right img{
        width: 95%;
    }
    .blog-details h3{
        font-size: 18px;
        font-weight: 600;
    }
    .blog-details p{
        font-size: 14px;
    }
}
